node_modules
.next
out
build
.DS_Store
*.pem
npm-debug.log*
.env*
!.env.example
.vercel
next-env.d.ts
*.tsbuildinfo
/prisma/*.db
/prisma/*.db-journal
/test-results
/playwright-report
/blob-report
/playwright/.cache
/coverage
